<h1 class="font profile">ALL TEXTBOOKS AVAILABLE: </h1>

<table class="table table-hover">
  <thead>
    <td><b>Title</b></td>
    <td><b>Author</b></td>
    <td><b>Department</b></td>
    <td><b>Price</b></td>
    <td><b>Owner</b></td>
  </thead>
  <tbody>
{{#each books}}
  <tr>
    <td>{{title}}</td>
    <td>{{author}}</td>
    <td>{{department}}</td>
    <td>${{price}}</td>
    <td>{{email}}</td>
    <td>
        <form action="/contactseller/{{_id}}" method="POST" >
            <div class="form-group">
                <button class="btn btn-success">Contact Seller</button>
            </div>
        </form>
    </td>
  </tr>
{{/each}}
  </tbody>
</table>

<a href="/" class="button btn btn-primary">Home</a>
<a href="/profile" class="button btn btn-primary">Your Books</a>
