{{#if emailSent}}
<div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
  {{emailSent}}
</div>
{{/if}}

<h2>BOOKSWAP</h2>
<div>
  <p>A marketplace for students to buy/sell textbooks.</p>
</div>
<br/>
  <form action="/searchresults" method="POST" >
    <div class="col-md-5 col-md-offset-3">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Search for a title..." name="titleinput">
         <span class="input-group-btn">
           <button class="btn btn-info" type="submit">Search BookSwap!</button>
         </span>
       </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </form>
  <br/>  <br/>  <br/>  <br/>


  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info ">
        <div class="panel-heading"><h4>For buyers: </h4></div>
        <table class="table table-striped">
        <tbody>
          <tr>
            <td>1. Register and login to search for a book</td>
          </tr>
          <tr>
            <td>2. Contact seller</td>
          </tr>
          <tr>
            <td>3. Negotiate and settle on price with seller</td>
          </tr>
          <tr>
            <td>4. Decide where/when to meet seller</td>
          </tr>
          <tr>
            <td>5. Pick up your book!</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading"><h4>For sellers: </h4></div>
        <table class="table table-striped">
        <tbody>
          <tr>
            <td>1. Register and login to put books up</td>
          </tr>
          <tr>
            <td>2. Post book</td>
          </tr>
          <tr>
            <td>3. Wait to be contacted</td>
          </tr>
          <tr>
            <td>4. Meet and sell</td>
          </tr>
          <tr>
            <td>5. Delete book from Bookswap</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

<br />

<!-- Handlebars helper for iteration of only 5 books -->

<h1>TEXTBOOKS AVAILABLE</h1>

<table class="table table-hover">
  <thead>
    <td><b>Title</b></td>
    <td><b>Author</b></td>
    <td><b>Department</b></td>
    <td><b>Price</b></td>
    <td><b>Owner</b></td>
  </thead>
  <tbody>
{{#each books}}
  <tr>
    <td>{{title}}</td>
    <td>{{author}}</td>
    <td>{{department}}</td>
    <td>${{price}}</td>
    <td>{{email}}</td>
    <td>
        <form action="/contactseller/{{_id}}" method="POST" >
            <div class="form-group">
                <button class="btn btn-success">Contact Seller</button>
            </div>
        </form>
    </td>
  </tr>
{{/each}}
  </tbody>
</table>

<a href="/books" class="btn btn-primary">All Books</a>
