{{#if emailSent}}
<div class="alert alert-success" role="alert">
  <strong>Email Sent!</strong>
</div>
{{/if}}

<h1 class=" profile font">{{username}}'s Profile</h1>

<h3 class="font">Your Books for Sale</h3>
<table class="table table-hover">
  <thead>
    <td><b>Title</b></td>
    <td><b>Author</b></td>
    <td><b>Department</b></td>
    <td><b>Price</b></td>
  </thead>
  <tbody>
{{#each books}}
  <tr>
    <td>{{title}}</td>
    <td>{{author}}</td>
    <td>{{department}}</td>
    <td>${{price}}.00</td>
    <td>
        <form action="/removebook/{{_id}}" method="POST" >
            <div class="form-group">
                <button class="btn btn-success">Remove Book</button>
            </div>
        </form>
    </td>
  </tr>
{{/each}}
  </tbody>
</table>


<br />

<a href="/addbook" class="btn btn-primary">Add Book</a>
<a href="/books" class="btn btn-primary">All Books</a>
<a href="/logout" class="btn btn-primary">Logout</a>
